absl-py==1.1.0
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blis==0.9.1
brotlipy==0.7.0
cachetools==5.2.0
catalogue==2.0.8
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.1.3
conda==4.10.3
conda-package-handling==1.7.3
confection==0.0.1
cryptography==3.4.7
cycler==0.11.0
cymem==2.0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
faiss-gpu==1.7.2
fastai==2.7.9
fastcore==1.5.27
fastdownload==0.0.7
fastjsonschema==2.15.3
fastprogress==1.0.3
filelock==3.7.1
Flask==2.2.2
Flask-SQLAlchemy==2.5.1
fonttools==4.33.3
gevent==21.12.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
greenlet==1.1.3
grpcio==1.46.3
huggingface-hub==0.8.1
idna==2.10
importlib-metadata==4.11.4
importlib-resources==5.8.0
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
jsonlines==3.1.0
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter-server==1.17.1
jupyterlab==3.4.3
jupyterlab-language-pack-zh-CN==3.4.post1
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.0
kaggle==1.5.12
kiwisolver==1.4.3
langcodes==3.3.0
loguru==0.6.0
lxml==4.9.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
murmurhash==1.0.8
nbclassic==0.3.7
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.6
nlp-basictasks==0.2.4
nltk==3.7
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.22.4
oauthlib==3.2.0
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pip==21.1.3
preshed==3.0.7
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pydantic==1.9.2
Pygments==2.12.0
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2022.1
PyYAML==6.0
pyzmq==23.2.0
regex==2022.7.9
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.8
ruamel-yaml-conda==0.15.100
scikit-learn==1.1.1
scipy==1.8.1
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.96
seqeval==1.2.2
setuptools==52.0.0.post20210125
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SQLAlchemy==1.4.41
srsly==2.4.4
stack-data==0.3.0
supervisor==4.2.4
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
terminado==0.15.0
text-unidecode==1.3
textrank4zh==0.3
thinc==8.1.1
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.12.1
torch==1.11.0+cu113
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.61.2
traitlets==5.3.0
transformers==4.20.1
typer==0.4.2
typing-extensions==4.2.0
urllib3==1.26.6
utils==1.0.1
wasabi==0.10.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.2.2
wheel==0.36.2
widgetsnbextension==3.6.0
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
